services:
  # Broker MQTT
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: iot_mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - backend_net
  
  # Database
  timescaledb:
    image:  timescale/timescaledb:latest-pg16
    container_name: iot_db
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=tunnel_monitoring
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - backend_net

volumes:
  postgres_data:

networks:
  backend_net:
    driver: bridge